[submodule "calendar-server"]
	path = calendar-server
	url = git@github.com:ohseunghyeon/calendar-server.git
	branch = master
[submodule "calendar-client"]
	path = calendar-client
	url = git@github.com:ohseunghyeon/calendar-client.git
	branch = master
